<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="PlanApp">
  <head>
    <meta charset="utf-8">
    <title>Planit Members</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="PlanController as ctrl">
    <h2>Planit Newbie</h2>
        <button ng-click="ctrl.showCreateUser = !ctrl.showCreateUser">Create Account</button>
          <form ng-submit="ctrl.createUser()" ng-if="ctrl.showCreateUser">
          <input type="text" ng-model="ctrl.username" placeholder="username"/>
          <input type="password" ng-model="ctrl.password" placeholder="password" />
          <input type="submit" value="Create User">
        </form>
      <h2>Planit Guru</h2>
      <button ng-click="ctrl.showLogInUser = !ctrl.showLogInUser">Log In</button>
      <form ng-submit="ctrl.logIn()" ng-if="ctrl.showLogInUser">
      <input type="text" ng-model="ctrl.username" placeholder="username" />
      <input type="password" ng-model="ctrl.password" placeholder="password" />
      <input type="submit" value="Log In">
    </form>
      <a href="#" ng-click="ctrl.goApp()">Planit</a>
  </body>
</html>
