<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="PlanApp">
  <head>
    <meta charset="utf-8">
    <title>Planit Members</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/auth.css" />
  </head>
  <body ng-controller="PlanController as ctrl">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/stil-336189-unsplash.jpg" class="d-block w-100" alt="packed suitcase">
            <div class="carousel-caption d-none d-md-block">
              <h5>Taking a trip? Let's planit!</h5>
              <p>Use planit to plan a getaway with your crew.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/fidel-fernando-537760-unsplash.jpg" class="d-block w-100" alt="party balloons">
            <div class="carousel-caption d-none d-md-block">
              <h5>Hosting a Party? Let's planit!</h5>
              <p>Use planit to plan the party of the year!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/estee-janssens-396885-unsplash.jpg" class="d-block w-100" alt="planner">
            <div class="carousel-caption d-none d-md-block">
              <h5>Working toward shared goals with your partner? Let's planit!</h5>
              <p>Use planit to keep you and your partner focused on your goals.</p>
            </div>
          </div>
            <div class="carousel-item">
              <img src="../img/beatriz-perez-moya-513499-unsplash.jpg" class="d-block w-100" alt="wedding">
              <div class="carousel-caption d-none d-md-block">
                <h5>Getting married? Let's planit!</h5>
                <p>Use planit to plan the wedding of your dreams.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/rawpixel-191102-unsplash.jpg" class="d-block w-100" alt="map">
              <div class="carousel-caption d-none d-md-block">
                <h5>Going on a road trip? Let's planit!</h5>
                <p>Use planit to plan the roadtrip of a lifetime.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <div class="rounded" id="container">
        <h1>planit</h1>
        <div class="rounded-pill" id="newbie">
          <h2>planit newbie</h2>
              <button ng-click="ctrl.showCreateUser = !ctrl.showCreateUser">Create Account</button>
                <form ng-submit="ctrl.createUser()" ng-if="ctrl.showCreateUser">
                  <input type="text" ng-model="ctrl.username" placeholder="username"/>
                  <input type="password" ng-model="ctrl.password" placeholder="password" />
                  <input type="submit" value="Enter">
                </form>
        </div>
        <div class="rounded-pill" id="guru">
          <h2>planit guru</h2>
          <button ng-click="ctrl.showLogInUser = !ctrl.showLogInUser">Log In</button>
          <form ng-submit="ctrl.logIn()" ng-if="ctrl.showLogInUser">
            <input type="text" ng-model="ctrl.usernameLogIn" placeholder="username" />
            <input type="password" ng-model="ctrl.passwordLogIn" placeholder="password" />
            <input type="submit" value="Enter">
          </form>
          <div ng-if="ctrl.loggedInUsername">
           <a href="../index.html"> Enter planit</a>
          </div>
        </div>
    </div>
  </body>
</html>
