<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="PlanApp">
  <head>
    <meta charset="utf-8">
    <title>Planit Members</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/auth.css" />
  </head>
  <body ng-controller="PlanController as ctrl">
    <div class="container">
      <h1>planit</h1>
      <div class="newUser">
        <h2>planit newbie</h2>
            <button ng-click="ctrl.showCreateUser = !ctrl.showCreateUser">Create Account</button>
              <form ng-submit="ctrl.createUser()" ng-if="ctrl.showCreateUser">
              <input type="text" ng-model="ctrl.username" placeholder="username"/>
              <input type="password" ng-model="ctrl.password" placeholder="password" />
              <input type="submit" value="Enter">
            </form>
      </div>
      <div class="returningUser">
        <h2>planit guru</h2>
        <button ng-click="ctrl.showLogInUser = !ctrl.showLogInUser">Log In</button>
        <form ng-submit="ctrl.logIn()" ng-if="ctrl.showLogInUser">
        <input type="text" ng-model="ctrl.usernameLogIn" placeholder="username" />
        <input type="password" ng-model="ctrl.passwordLogIn" placeholder="password" />
        <input type="submit" value="Enter">
      </form>
      </div>
      <br>
        <div ng-if="ctrl.loggedInUsername">
         <a href="../index.html">planit</a>
        </div>
    </div>
  </body>
</html>
