@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

* {
  text-align: center;
  font-family: "Amatic SC", cursive;
}

body {
  margin: 0;
  background: whitesmoke;
}

header {
  color: whitesmoke;
  height: 50vh;
  min-height: 400px;
  background: url("https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center fixed;
  background-size: cover;
}

#headerTop {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

header > button {
  margin-top: 30px;
  font-size: 25px;
}

input {
  font-size: 20px;
}

#dateBox {
  font-size: 18px;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: lightgray;
}

nav,
h3 {
  display: inline;
}

nav > a {
  margin: 5px;
}

h1 {
  font-size: 55px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.eventInfo {
  margin-top: 7px;
}

img {
  width: 60px;
}

.eventInfo > h3 {
  margin: 0;
  font-size: 25px;
}

.eventInfo > p {
  margin: 4px;
  font-size: 20px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 20px;
}

button {
  margin: 10px;
  font-size: 20px;
}

.button {
  margin: 10px;
  font-size: 20px;
  font-family: "Amatic SC", cursive;
  border: 1px solid gray;
  background: whitesmoke;
  /* border-radius: 5px; */
}

.button:hover {
  background: #ccc;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
  font-size: 30px;
  border: 2px solid gold;
}

.modalContent > h1 {
  font-size: 40px;
  text-decoration: underline;
}

.modalContent > ul {
  list-style: none;
  padding-left: 0;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 90px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  margin-top: 80px;
}
