<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="PlanApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="plan.js" charset="utf-8"></script>
  </head>
  <body ng-controller="AuthController as ctrl">
    <h2>Create User</h2>
      <form ng-submit="ctrl.createUser()">
        <input type="text" ng-model="ctrl.username" />
        <input type="password" ng-model="auth.password" />
        <input type="submit" value="Create User">
      </form>
  </body>
</html>
